name: CI

on:
  pull_request:
    branches: ["main", "develop"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.13.0
          cache: npm
    
      - name: Install dependencies
        run: npm ci
      
      - name: Run tests
        env:
          CI: true
          VITE_SUPABASE_URL: "http://localhost:54321"
          VITE_SUPABASE_PUBLISHABLE_KEY: "dummy"
        run: npm test
